@font-face {
  font-family: "Economica";
  src: url("./assets//economica-bold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("./assets/roboto-condensed.light.ttf") format("truetype");
  font-weight: 800;
}

body {
  background: #333;
  color: #fff;
  font-size: 1.4em;
  line-height: 1.5;
  text-align: center;
  font-family: "RobotoCondensed";
  min-width: fit-content;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Economica";
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}



